<h1>Let's change some sweet art</h1>

<div class="posting">
    <form method="POST" action="/art">

        <div>
            <label>Put art info here</label>
            <input type="text" name="test" placeholder="img src" class="box-title-add-art"></input>
        </div>
        <div>
            <button class="send-button" type="submit">Submit</button>
        </div>